* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 8rem;
    height: 8rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 0.3rem;
}

button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #088395;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #0A4D68;
}

input,
hr {
    width: 100%;
}

select {
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.parte-1,
.parte-2,
.parte-3,
.cards,
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#sticker-logo {
    width: 10rem;
    height: 10rem;
}

.parte-2,
.parte-3 {
    flex-direction: column;
}

.cards {
    flex-wrap: wrap;
}

.card {
    flex-direction: column;
    padding: 0.7rem;
    gap: 0.5rem;
}


@keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
      transform: translateX(8px);
    }
    80% {
      transform: translateX(5px);
    }
    90% {
      transform: translateX(-5px);
    }
  }